<!DOCTYPE html>
<html ng-app="ATMLocatorApp">
<head>
  <title>Dutch ATM Locator by Fabio</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<base href="/atmlocator-0.1.0/" /> -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- retrieved from https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css to speed up loading process -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="MainCtrl">

	<div class="container">

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">ATM Locator</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <form class="navbar-form navbar-left" autocomplete="off">
				<div class="form-group">
				  <input id="cityNameTextBox" type="text" class="form-control" ng-model="cityTextBoxValue" placeholder="{{cityNameTextBoxPlaceholder}}" uib-typeahead="city for city in cities | filter:$viewValue | limitTo:8" ng-disabled="cityNameDisabled"> 
				</div>
		        <button type="submit" class="btn btn-default" ng-click="citySelected()">Go</button>
			  </form>
			  <ul class="nav navbar-nav navbar-right">
				 <li class="btn-toolbar" style="margin-top: 8px;">
					<div id="listMapBtnGroup" class="btn-group" data-toggle="buttons">
					  <label class="btn btn-default active" ng-click="changeView('list')"><input type="radio" name="options" id="btnList"><i class="glyphicon glyphicon-th-list"></i></label>
					  <label class="btn btn-default" ng-click="changeView('map')"><input type="radio" name="options" id="btnMap"><i class="glyphicon glyphicon-picture"></i></label>
					</div>
				  </li>
				<!-- Onde day, implement user authentication
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/icon.png"> <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><span class="listItemAsLabel">Signed in as {{userName}}</span></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Sign out</a></li>
				  </ul>
				</li>
				-->
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

	  <div ng-view></div>
	
	</div>

	<!-- retrieved angular libs from https://code.angularjs.org/1.6.7/ to speed up loading process -->
	<script src="lib/angular-1.6.7/angular.min.js"></script>
  <script src="lib/angular-1.6.7/angular-resource.min.js"></script>
  <script src="lib/angular-1.6.7/angular-route.min.js"></script>
  
  <!-- jQuery 3.1.1 retrieved from https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js -->
<script src="lib/jquery-3.1.1/jquery.min.js"></script>
<!-- retrieved bootstrap from https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js -->
<script src="lib/bootstrap-3.3.7/bootstrap.min.js"></script>

<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyCSzhKJbf1aacQMk4lYO-vobZW_yd9a86I&libraries=placeses,visualization,drawing,geometry,places"></script>

<!--  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>   -->
  <script src="lib/bootstrap-ui-2.5.0/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="lib/ng-map.min.js"></script> 
  <script src="js/ATMLocatorApp.js"></script>
  <script src="js/ATMLocatorRoutes.js"></script>
  <script src="js/MainCtrl.js"></script>

</body>
</html>